<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1 style="text-align: center;">
        Issue Tracker Home
      </h1>
    </header>

    <div id="buttonContainer" class="containers">
      <button id="submitButton" class="headerButtons selectedButton">Submit Issue</button>
      <button id="updateButton" class="headerButtons nonSelectedButton">Update Issue</button>
      <button id="deleteButton" class="headerButtons nonSelectedButton">Delete Issue</button>
      <hr style="width: 100%">
    </div>

    <div id="submitContainer" class="containers">
      <h2 style="text-align: left">API Tests:</h2>
      <p class="submitIssueNotes">**Any issue submitted here directly will be enlisted in the <span class="submitProjectName">apitest</span> project.</p>
      <p class="submitIssueNotes">*** If you want to submit issues for other project, type your project in address bar, then submit your issues.</p>
      <p class="submitIssueNotes">Example: https://issue-tracker-fcc-project.herokuapp.com/<span class="submitProjectName">your_project_name_here</span></p>
      <h3 id="submitHeader">Submit issue on: <span class="submitProjectName">apitest</span></h3>
      <form id="testForm" class="border">
        <span class="inputLabel">Issue Title:</span>
        <input type="text" name="issue_title" placeholder="*Title" required='true'><br>
        <span class="inputLabel">Issue Text:</span>
        <textarea type="text" name="issue_text" placeholder="*Text" required='true'></textarea><br>
        <span class="inputLabel">Created by:</span>
        <input type="text" name="created_by" placeholder="*Created by" required='true'><br>
        <span class="inputLabel">Assigned to:</span>
        <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
        <span class="inputLabel">Status text:</span>
        <input type="text" name="status_text" placeholder="(opt)Status text"><br>
        <button id="submitIssue" class="formButtons" type="submit">Submit Issue</button>
      </form>
    </div>

    <div id="updateContainer" class="containers hiddenContainer">
      <h3 id="updateHeader">Update issue on <span class="submitProjectName">apitest:</span></h3>
      <span id="updateHeaderNote">(Change any or all to update issue on the _id supplied)</span><br>
      <form id="testForm2" class="border">
        <span class="inputLabel">Issue ID:</span>
        <input type="text" name="_id" placeholder="*_id" required=''><br>
        <span class="inputLabel">Issue Title:</span>
        <input type="text" name="issue_title" placeholder="(opt)Title"><br>
        <span class="inputLabel">Issue Text:</span>
        <textarea type="text" name="issue_text" placeholder="(opt)Text"></textarea><br>
        <span class="inputLabel">Created by:</span>
        <input type="text" name="created_by" placeholder="(opt)Created by"><br>
        <span class="inputLabel">Assigned to:</span>
        <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
        <span class="inputLabel">Status text:</span>
        <input type="text" name="status_text" placeholder="(opt)Status text"><br>
        <input id="checkbox" type="checkbox" name="open" value="false">
        <label id="label">Check to close issue</label><br>
        <button id="updateIssue" class="formButtons"type="submit">Update Issue</button>
      </form>
    </div>

    <div id="deleteContainer" class="containers hiddenContainer">
      <h3 id="deleteHeader">Delete any issue from <span class="submitProjectName">apitest</span> by issue_id</h3>
      <form id="testForm3" class="border">
        <span class="inputLabel">Delete Issue by ID:</span>
        <input type="text" name="_id" placeholder="_id" required=''><br>
        <button id="deleteIssue" class="formButtons" type="submit">Delete Issue</button>
      </form>
    </div>

    <code id='jsonResult' class="containers"></code>

    <div id="exampleContainer" class="containers">
      <h3 class="exampleHeader">Example GET usage: </h3>
      <a class="getLinks" href="/api/issues/{project}" style="margin-top: 10px;">/api/issues/{project}</a><br>
      <a class="getLinks" href="/api/issues/{project}?open=true&assigned_to=Hunter">/api/issues/{project}?open=true&amp;assigned_to=Hunter</a><br>
      <h3 class="exampleHeader">Example return: </h3>
      <code id="exampleReturn">
        [{"_id":"6049ffa98a3bd14d3631df75","issue_title":"Tomatoes","issue_text":"Tomatoes are my favourite.","created_by":"Laura",
         "assigned_to":"Hunter","status_text":"","created_on":"2021-03-11T11:31:53.000Z","updated_on":"2021-03-13T08:25:31.075Z",
         "open":true,"project_name":"{project}","__v":0}, 
         ... 
         ]
      </code>
      <p id="exampleLink"> 
          Example project link: <a id="lastLink" href='/apitest'>/apitest</a> 
      </p>
    </div>

    <footer>
      Designed and Coded by: <a id="footerLink" href="https://www.linkedin.com/in/hunter-lacefield-871995115/">Hunter Lacefield</a>
    </footer>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'post',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'put',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm3').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'delete',
            data: $('#testForm3').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });

        $('#submitButton').click(() => {
          $("#submitContainer").removeClass("hiddenContainer");
          $("#updateContainer").addClass("hiddenContainer");
          $("#deleteContainer").addClass("hiddenContainer");

          // Changing button style now
          $("#submitButton").removeClass("nonSelectedButton").addClass("selectedButton");
          $("#updateButton").removeClass("selectedButton").addClass("nonSelectedButton");
          $("#deleteButton").removeClass("selectedButton").addClass("nonSelectedButton");

        })

        $('#updateButton').click(() => {
          $("#updateContainer").removeClass("hiddenContainer");
          $("#submitContainer").addClass("hiddenContainer");
          $("#deleteContainer").addClass("hiddenContainer");

          // Changing button style now
          $("#updateButton").removeClass("nonSelectedButton").addClass("selectedButton");
          $("#submitButton").removeClass("selectedButton").addClass("nonSelectedButton");
          $("#deleteButton").removeClass("selectedButton").addClass("nonSelectedButton");
        })

        $('#deleteButton').click(() => {
          $("#deleteContainer").removeClass("hiddenContainer");
          $("#updateContainer").addClass("hiddenContainer");
          $("#submitContainer").addClass("hiddenContainer");

          // Changing button style now
          $("#deleteButton").removeClass("nonSelectedButton").addClass("selectedButton");
          $("#submitButton").removeClass("selectedButton").addClass("nonSelectedButton");
          $("#updateButton").removeClass("selectedButton").addClass("nonSelectedButton");
        })
      });
   </script>
  </body>
</html>